/*!
 * My CSS
 */

html, body { height: 100% }
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif; font-size: 12px;
    overflow: hidden;
}
div {
 display: block;
}
#content-container {
	min-width: 1024px;
	width: 100%;
	height: 92%;
}

#banner {
    display: block;
	min-width: 1024px;
	width: 100%;
    min-height: 100px;
	height: 8%;
	margin: 0px auto;    
	background-image: url(../images/sie_center_logo.png), -webkit-linear-gradient(top, #333 0%, #8a928a 100%);
    background-image: url(../images/sie_center_logo.png), -ms-linear-gradient(top, #333 0%, #8a928a 100%);
	background-position: 5% 50%, 0 0;
	background-repeat: no-repeat;
	background-size: 120px 65px,100% 100%;
}

#banner h1{
	text-align: center;
    margin: 0;
    padding-left: 5%;
	font-family: 'Freight Sans Bold','lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 3.5em;
	color: white;
    text-shadow: 4px 3px 0px #333333, 9px 8px 0px rgba(0, 0, 0, 0.15);
	padding-top: 20px;
}

#sub-title {
    font-size: 0.6em;
    color: #D1D1D1;
}

#toggle-bottom-panel-button{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 30px;
    width: 41px;
    cursor: pointer;
    z-index: 0;
    background: #fff url(../images/icon_arrow_grey_up.png) no-repeat scroll center center;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: 1px solid #888;
    border-radius: 5px 5px 0 0;
}

#toggle-bottom-panel-button.collapse{
    display: block;
    position: absolute;
    bottom: 200px;
    left: 50%;
    height: 30px;
    width: 41px;
    cursor: pointer;
    z-index: 0;
    background: #fff url(../images/icon_arrow_grey_down.png) no-repeat scroll center center;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: 1px solid #888;
    border-radius: 5px 5px 0 0;
}

#bottom-panel-content-container{
    display: none;
    position: absolute;
    bottom: 0;
    height: 200px;
    min-width: 1024px;
    width: 100%;
    background-color:white;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border: 1px solid #888;
    border-radius: 5px 5px 0 0;
}

#bottom-panel-content-container div.bottom-panel-text-container {
    display: block;
    height: 190px;
    width: 160px;
    padding-left: 20px;
    margin-right: 20px;
    float: left;
}

#bottom-panel-content-container div.bottom-panel-text-container h3{
    font-size: 1.5em;
    text-shadow: 1px 1px 3px #999999, 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#bottom-panel-content-container div.bottom-panel-text-container p{
    font-size: 1.2em;
    color: #333333;
    text-shadow: 1px 1px 1px #CCCCCC, 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#bottom-panel-content-container div.bottom-panel-text-container img{
    margin-left: 10px;
}


#bottom-panel-content-container div.bottom-panel-chart-container {
    display: block;
    height: 190px;
    width: 40%;
    margin: 10px 0 0 0;
    float: left;
}

#bottom-panel-content-container div.bottom-chart-legend {
    display: block;
    height: 190px;
    width: 140px;
    margin: 20px 0 0 10px;
    float: left
}


#bottom-panel-content-container svg.bottom-chart-lengend-svg {
    margin-top: 10px;
}

#bottom-panel-content-container div.bottom-chart {
    display: block;
    height: 190px;
    width: 40%;
    float: left
}


#tooltip
{
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -mox-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    z-index: 999;
}

#tooltip.hidden{
    opacity: 0;
}

#tooltip p{
    margin: 0;
    font-family: verdana;
    font-size: 12px;
}

#map 
{ 

	min-width: 1024px;
    height: 100%;
}
.info {
    padding: 15px 15px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4, .legend h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    padding: 15px 15px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #555;    
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend-btn {
    width: 40px;
    height: 40px;
    background: #FFF url(../images/icon_legend.png) no-repeat scroll center center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    border-radius: 5px;    
}

.info-btn {
    width: 40px;
    height: 40px;
    background: #FFF url(../images/icon_info.png) no-repeat scroll center center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    border-radius: 5px;    
}

.help-btn {
    width: 40px;
    height: 40px;
    background: #FFF url(../images/icon_help.png) no-repeat scroll center center;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    border-radius: 5px;    
}

#feature-mapshp{
    display:block;
    position: absolute;
    width:1px;
    height:1px;
    top:50%;
    left:50%;
    opacity: 0;
}